<mat-toolbar color="primary">
  <span>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span class="spacer"></span>
  <span>Cricket App</span>
  <span class="spacer"></span>
</mat-toolbar>