<mat-card class="card-form">
  <mat-card-title>Add Player</mat-card-title>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" [formControl]="name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  
    <mat-form-field>
       <input matInput placeholder="age" required [formControl]="age">
       <mat-error *ngIf="age.invalid">{{getAgeErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-radio-group>
        <mat-radio-button value="A">Grade A</mat-radio-button>
        <span class="spacer"></span>
        <mat-radio-button value="B">Grade B</mat-radio-button>
        <span class="spacer"></span>
        <mat-radio-button value="C">Grade C</mat-radio-button>
    </mat-radio-group>
  
    <mat-form-field>
      <mat-select placeholder="Type">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit">Submit</button>
  </form>
</mat-card>